@{
    ViewData["Title"] = "Post Details Page";
    Layout = "_Layout";
}

@model Post 


<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Do you Know What Thing Really Makes Artist Nowadays?</h2>
            </div>

        </div>
    </div>
</section>


<!-- BLOG DETAIL -->
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            @{ 
                string imageSource = null;

                if (Model.ImageFileName != "")
                {
                    imageSource = "~/images/" + Model.ImageFileName;
                }
               }

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <!-- BLOG THUMB -->
                <div class="blog-detail-thumb">
                    <div class="blog-image">
                        <img src="@imageSource" asp-append-version="true" class="img-responsive" alt="Blog Image">
                    </div>
                    <h2>@Model.Title</h2>
                    <p>
                        @Model.Body
                    </p>

                    <div class="blog-ads">
                        <h4>@Model.CreatedTime</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>